.header {
    background-color: #231556;
    color: #ffffff;
}

.login-form{
    padding: 20px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff !important;
}

.login-form .form{
    width: 70vh;
    /* height: 70vh; */
    padding: 10px;
    background-color: #2315567e;
    backdrop-filter: blur(3px);
}

.form-normal{
    box-shadow: 0px 0px 15px 7px #00ffc871;
}

.form-error{
    box-shadow: 0px 0px 15px 7px #ff000071;
}

.login-title{
    color: #ffb300 !important;
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
}
/* Remove bootstrap focus design */
.form-control:focus,
.form-control:active {
    outline: none !important;
    box-shadow: none;
    border-color: #ffffff;
}

.login-form input{
    color: #00ffc6  !important;
    font-weight: bold !important;
    border-bottom: 1px solid #ffffff;
    background-color: #ffffff00 !important;
    /* font-size: large; */
}

.login-form input::placeholder{
    color: #00ffc6;
    font-weight: 400 !important;
}
/* password lock */
.eye-icon {
    background-color: #ffffff00 !important;
    border-bottom: 1px solid #ffffff;
    color: #00ffc6;
}

/* remember */
.form-check-label{
    color: #00ffc6;
}

.login-button{
    border-radius: 20px;
    font-weight: bolder;
}

.navigation{
    font-weight: bold;
    color: #00ffc6;
}

.navigation:hover{
    color: #fff;
}

.text-danger{
    color: #f50017 !important;
}

.borderless{
    border-top: 0px;
    border-left:0px;
    border-right:0px;
    border-radius: 0px;
}
