.list-group-item{
    background-color: #a2e9ee38 !important ;
    /* color: #3efaff !important; */
}

.input-group-text{
    background-color: #ffffff00 !important;
    border-left: none;
    border-color: #000000 !important;
    border-radius: 0px 4px 4px 0px;
}

input, .form-control{
    background-color: #ffffff00 !important;
    border-color: #000000 !important;
}

.input-send{
    background-color: rgb(51, 255, 0) !important;
}

.header{
    background-color: darkcyan;
    color: lightcyan;
}

.messagedel{
    cursor: pointer;
    margin-left: 3px;
    margin-bottom: 1px;
    color: #be919188;
}

.messagedel:hover{
    color: #ff4545;
}

.hoverRow:hover{
    color: #f87204 !important;
    background-color: #32e0ff34 !important;
    
}

.hoverRow:hover .messagedel{
    color: #ff4545 !important;
    
}
